body {
    text-align: center;
}

#div1 {
    text-align: center;
    background-color: red;
}

#img {
    width: 400px;
    height: 400px;
}

#img2 {
    width: 400px;
    height: 400px;
}

#img3 {
    width: 400px;
    height: 400px;
}

#img4 {
    width: 400px;
    height: 400px;
}

#img5 {
    width: 400px;
    height: 400px;
}

#div2 {
    text-align: center;
    background-color: red;
}

#div3 {
    text-align: center;
    background-color: red;
}

#div4 {
    text-align: center;
    background-color: red;
}

#div5 {
    text-align: center;
    background-color: red;
}

body {
    background-color: red;
}

#face1 {
    font-size: 50px;
}

#face2 {
    font-size: 50px;
}

#face3 {
    font-size: 50px;
}

#face4 {
    font-size: 50px;
}

#face5 {
    font-size: 50px;
}


